body {
    font-family: 'Segoe UI', 'Liberation Sans', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
}

.full-width-section {
    background: white;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em 0;
}

.section-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
}

.availability {
    text-align: center;
    margin-top: 0;
}

.availability .status {
    font-size: 1.5em;
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 5px;
}

.status {
    background-color: gray;
    color: white;
}

.status.available {
    background-color: green;
    color: white;
}

.status.not-available {
    background-color: red;
    color: white;
}

.reservation-info {
    margin-top: 1em;
    font-size: 1em;
    color: #333;
    display: flex;
    justify-content: center;
}

.reservation-info table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.reservation-info th,
.reservation-info td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.form-container {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form label {
    text-align: left;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-container form input {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.form-container form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container form input[type="submit"]:hover {
    background-color: #555;
}

.form-container form small {
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: left;
}

.reservations {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.reservations table {
    width: 100%;
    border-collapse: collapse;
}

.reservations table,
.reservations th,
.reservations td {
    border: 1px solid #ddd;
}

.reservations th,
.reservations td {
    padding: 0.5em;
    text-align: left;
}

.reservations .cancel-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 5px;
    /* Rounded borders for buttons */
}

.reservations .cancel-btn:hover {
    background-color: #555;
}

.header-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-with-image img {
    max-width: 70px;
    height: auto;
    margin-right: 10px;
}

.header-with-image h2 {
    font-size: 2em;
}

.center-text {
    text-align: center;
}

.hidden {
    display: none;
}

.no-reservations {
    font-size: 1.2em;
    color: #555;
    text-align: center;
    padding: 2em 0;
}

@media (max-width: 600px) {

    .reservation-info table,
    .reservations table {
        border: 0;
    }

    .reservation-info table thead,
    .reservations table thead {
        display: none;
    }

    .reservation-info table tr,
    .reservations table tr {
        margin-bottom: 1em;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    .reservation-info table tr:last-child,
    .reservations table tr:last-child {
        margin-bottom: 0;
    }

    .reservation-info table td,
    .reservations table td {
        display: block;
        text-align: right;
        font-size: 0.8em;
        border-bottom: 1px dotted #ccc;
        padding: 0.5em;
    }

    .reservation-info table td:last-child,
    .reservations table td:last-child {
        border-bottom: 0;
    }

    .reservation-info table td:before,
    .reservations table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .reservations td[data-label="Action"]:before {
        content: none;
        /* Remove "Action" label for mobile view */
    }

    .reservations tr:last-child td[data-label="End Time"] {
        border-bottom: 1px dotted #ccc;
        /* Ensure End Time cell always has a dotted border */
    }
}

.form-error {
    margin: 1em 0;
    padding: 0.5em;
    border-radius: 5px;
    background-color: #ff8f8f;
}