<!DOCTYPE html>
<html>

<head>
    <title>Setup Corn</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <script src="/static/js/main.js"></script>
</head>

<body>
    <section class="full-width-section">
        <div class="section-content">
            <div class="header-with-image">
                <img src="/static/img/corn.png">
                <h2>Test Setup Corn</h2>
            </div>
            <div class="availability">
                <div class="status" id="room-status">Loading status...</div>
                <div class="reservation-info hidden" id="reservation-info">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start time</th>
                                <th>End time</th>
                                <th>Minutes remaining</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="name" data-label="Name"></td>
                                <td class="start-time" data-label="Start time"></td>
                                <td class="end-time" data-label="End time"></td>
                                <td class="remaining-minutes" data-label="Remaining minutes"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button id="cancel-reservation-btn" class="hidden" onclick="cancelReservation()"
                    style="margin-top: 1em; padding: 0.5em; font-size: 1em; background-color: #333; color: white; border: none; cursor: pointer; border-radius: 5px;">Cancel
                    reservation</button>
            </div>
        </div>
    </section>

    <section class="form-container" id="reservation-form">
        <h2>Make a reservation</h2>
        <form method="post" role="form">
            {% for field, errors in form.errors.items() %}
            <div class="form-error">
                {{ ', '.join(errors)}}
            </div>
            {% endfor %}

            {{ form.hidden_tag() }}
            {{ form.name.label }}
            {{ form.name }}
            <small>{{ form.name.description }}</small>
            {{ form.minutes.label }}
            {{ form.minutes }}
            <small>{{ form.minutes.description }}</small>
            {{ form.submit }}
        </form>
    </section>

    <section class="full-width-section">
        <div class="section-content">
            <h2 class="center-text">Upcoming Reservations</h2>
            <div id="no-reservations-message" class="no-reservations">Loading upcoming reservations...</div>
            <div class="reservations hidden">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start time</th>
                            <th>End time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>